* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightgreen: rgb(60, 167, 104);
    --green: rgb(48, 134, 84);
    --red: rgb(226, 141, 92);
    --yellow: rgb(255, 200, 0);
    --valid: rgb(98, 255, 164);
    --invalid:rgb(255, 170, 120);
}

html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.instructions {
    font-size: 1.6rem;
    width: 30%;
    height: 100vh;
    background-color: var(--yellow);
    padding-top: 5rem;
}
.instructions h2 {
    font-size: 3.5rem;
    color: var(--lightgreen);
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 5px;
}

.instructions h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 2px;
    background-color: var(--lightgreen);
}

.instructions hr {
    margin: 15px 0;
    color:var(--lightgreen);
}

.instructions ol {
    padding: 1rem 0 0 1.5rem;
}

.instructions ol a {
    color: var(--lightgreen);
    text-decoration: none;
    font-weight: bolder;
}

.download-link {
    width: 70%;
    padding-top: 5rem;
    background-color: var(--lightgreen);
    color: white;
}

.download-link section {
    border-radius: 5px;
}

main h1 {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    padding-bottom: 3rem;
}

main input[type=radio] {
    display: none;
}

main nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: var(--green);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

main nav label {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    position: relative;
    cursor: pointer;

}

main nav label i {
    padding-right: 5px;
    color: var(--yellow);
}

main nav .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    background-color: var(--red);
    z-index: -1;
    border-radius: 3px;
    transition: all .3s;
}

/*radio buttons styling*/

#audio:checked ~ nav .slide {
    left: 33%;
}

#video:checked ~ nav .slide {
    left: 67%;
}

/* #paste:checked ~ nav label.paste,
#audio:checked ~ nav label.audio,
#video:checked ~ nav label.video {
    color: var(--green);
} */

/*Add logic to radio/tabs*/

.content {
    display: none;
}

#paste:checked ~ section .content-link {
    display: block;
}

#audio:checked ~ section .content-audio {
    display: block;
}

#video:checked ~ section .content-video {
    display: block;
}

/*form styles*/

section .content {
    margin: 3rem auto;
    text-align: center;
}

.content > i {
    font-size: 5rem;
    color: var(--yellow);
    border: 2px solid;
    padding: 15px;
    border-radius: 5rem;
}

.content h2 {
    font-size: 2rem;
    line-height: 2;
    padding: 0 1rem;
    position: relative;
}

.content p {
    padding-bottom: 1rem;
}

.content form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content form label {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.content form input {
    display: block;
    width: 100%;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
    outline: none;
    transition: all .3s;
}

.content form .btn {
    background-color: var(--red);
    border: none;
    color: whitesmoke;
    padding: 1rem;
    outline: none;
    margin: 1rem 0;
    border-radius: 5px;
}

.content form .btn:hover {
    background-color: rgb(0, 0, 0, .3);
    color: var(--yellow);
    cursor: pointer;
}

.content form input:focus:invalid {
    font-size: 1.6rem;
    border-bottom: 3px solid var(--invalid);
    background-color: rgb(255, 220, 200);
}

.content form input:valid {
    font-size: 1.6rem;
    border-bottom: 3px solid var(--valid);
    background-color: rgb(193, 251, 217);
}

::placeholder {
    font-size: 1.6rem;
    color: var(--green);
}

.embed-code {
    font-size: 1.6rem;
    position: relative;
}

.content textarea {
    width: 100%;
    height: 10rem;
    outline: none;
    font-size: 1.6rem;
    margin: 2rem 0;
    border-radius: 5px;
}

.embed-code span {
    position: absolute;
    right: 0;
    bottom: 24px;
    background-color: var(--red);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px 8px;
}

.embed-code h3 {
    margin: 2rem auto 1rem auto;
}