@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    background-color: rgb(222, 150, 126);
}

.main {
    width:100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pali {
    width: 40rem;
    border: 4px solid black;
    border-radius: 6px;
    padding: 5rem;
}

input {
    width: 70%;
    border: 4px solid black;
    outline: none;
    border-radius: 6px;
    background: transparent;
}

.pali > * {
    padding: 1rem 5px;
}

button {
    width: 25%;
    border: 4px solid black;
    outline: none;
    border-radius: 6px;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: rgb(222, 150, 126);
}

p.results {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 2rem;
}
